<!DOCTYPE html>
<html>
<head>
	<title>Upload an excel file</title>
</head>
<body>
	<h1>Excel file upload (csv, tsv, csvz, tsvz only)</h1>
    <form action="" method=post enctype=multipart/form-data name="form_upload_file">
		<select class='form-control' id='file_type' name='upload_file'>
			<option id='select_file' value='0'>Select File type</option>
    		{% for file_type in file_types %}
    			<option value='{{file_type.title}}'> {{file_type.title}}</option>
    		{% endfor %}
    	</select>
        <input type="file" name="file">
    	<input type=submit value=Upload>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>